src/*.exe
src/bullcoin
src/bullcoind
src/test_bullcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bullcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
bullcoin-qt
Bullcoin-Qt.app

# Unit-tests
Makefile.test
bullcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
